<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Mobile BankId Example</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid!
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label>Enter you personal identity number<input type="text" name="username"/> </label></div>
    <div><input type="submit" value="Authenticate"/></div>
</form>
</body>
</html>